<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1 class="mt-4">Dashboard</h1>
            <p class="lead mb-3">Welcome Developer "<%= user.name %>"
                    <!--<iframe width="768" height="432" src="https://miro.com/app/live-embed/o9J_l2IrX6g=/?moveToViewport=-897,-490,1720,887" frameBorder="0" scrolling="no" allowFullScreen></iframe>-->
            </p>
            <a href="/users/logout" class="btn btn-secondary">Logout</a>
            <a href="/users/upload" class="btn btn-primary btn-block mb-3">Upload</a>
        </div>
    </div>
</div>