<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome Developer "<%= user.name %>"
    <iframe width="768" height="432" src="https://miro.com/app/live-embed/o9J_l2IrX6g=/?moveToViewport=-897,-490,1720,887" frameBorder="0" scrolling="no" allowFullScreen></iframe>
</p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>