<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1 class="text-center mb-3"><i class="fas fa-map-signs fa-1x"></i> Virtual Tourism</h1>
      <p>Click on the Image to Proceed</p>
      <div class="center mb-3">
        <img style="width:250px;" src="/assets/Lebanon.png" class="center" usemap="#lebanonmap">
        <map name="lebanonmap">
          <area shape="circle" coords="10,330,25" alt="Uptown" href="/cities/tyre">
          <area shape="circle" coords="130,130,50" alt="Uptown" href="/cities/other">
        </map>
        <!--<img style="width:250px;" src="https://drive.google.com/file/d/1HV0DekXQZjUN2V7t0XNaDE4oJJCROs5e/view?usp=sharing">-->
      </div>
      <a href="/users/devgate" class="btn btn-primary btn-block mb-3">Developers Corner</a>
    </div>
  </div>
</div>