<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1 class="text-center mb-3"><i class="fas fa-map-signs fa-1x"></i> Virtual Tourism</h1>
      <p>Click on an Available Site</p>
      <div class="center mb-3">
        <img style="width:400px; height:400px;" src="/assets/Tyre.png" class="center" usemap="#tyremap">
        <map name="tyremap">
          <area shape="rect" coords="150,280,20,80" alt="Sea" href="sea.htm">
          <area shape="rect" coords="211,211,160,130" alt="Downtown" href="downtown.htm">
          <area shape="circle" coords="266,200,50" alt="Uptown" href="uptown.htm">
        </map>
        <img class="far fa-square">
      </div>
      <a href="/" class="btn btn-primary btn-block mb-3">Home</a>
    </div>
  </div>
</div>