<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1 class="text-center mb-3"><i class="fas fa-map-signs fa-1x"></i> Virtual Tourism</h1>
      <p>Click on an Available Location</p>
      <div class="center mb-3">
        <img class='block' style="width:480; height:363px;" src="/assets/Uptown.png" class="center" usemap="#uptownmap">
        <map name="uptownmap">
          <area shape="circle" coords="260,260,50" href="/locations/walkway" id="walkway" class="walkway">
        </map>
      </div>
      <a href="/" class="btn btn-primary btn-block mb-3">Home</a>
    </div>
  </div>
</div>
<style>
  .walkway {
    background: #16943c;
    display: block;
    height: 50px;
    width: 50px;
    opacity: 0;
    position: absolute;
  }

  #walkway {
    left: 260px;
    top: 260px;
  }

  #walkway:hover {
    opacity: 0.4;
  }
</style>